body {
    background-image: url("../images/background.png");
}

.jumbomargin {
    margin-top: 2rem;
}

.footer {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;
    border-top: 0.25rem #bbbbbb solid;
}